.cta {
    background-color: $Dark-Violet;
    min-height: 300px;

    margin: auto;

    text-align: center;

    position: relative;

    @include flex(column, nowrap, center, center);
    @include media(){
        min-height: 250px;
    }

    &__imgBox {
        width: 100%;
        max-width: 2000px;
        position: absolute;
    }
    &__picture {
        position: absolute;
    }

    &__svgMobile {
        @include media(){
            display: none;
        }
    }
    &__svgDesktop {
        display: none;
        @include media(){
            display: block;
        }
    }
    &__wrapper {
        position: relative;
        z-index: 1;
    }
    &__tittle {
        color: #fff;
        font-size: 1.8em;
        font-weight: 700;

        letter-spacing: -1px;
        margin: 0 0 .9em;

        @include media(){
            font-size: 2.3em;
            letter-spacing: 0;

        }

    }
    &__button {
        background-color: $Cyan;
        color: #fff;
        font-size: 1.3em;
        font-weight: 700;

        display: inline-flex;
        padding: .8em 2em;
        border-radius: 2em;
    }
}