.shortener {
    max-width: 1250px;
    margin: auto;


    &__wrapper {
        width: 90%;
        margin: auto;

        min-height: 100px;

        position: relative;

        @include media(){
            width: 85%;
        }
    }
    &__picture {
        width: auto;

        position: absolute;
        z-index: 1;
        bottom: 57.2%;
        right: 0;

        @include media(){
            width: 100%;
            bottom: 25%;
        }
    }
    // &__source {}
    &__img {
        border-radius: .6em;

        @include media(){
            height: 10em;
        }
    }
    &__box {
        height: 160px;

        width: 100%;
        background-color: $Dark-Violet;
        border-radius: .6em;

        padding: 1.5em;

        position: absolute;
        bottom: 25%;


        @include flex(column , nowrap, center, stretch);
        gap: .6em;

        @include media() {
            @include flex(row , nowrap , center, stretch);
            gap: .8em;

            padding: 3em 2.8em;

        }
    }
    &__inputBox {
        position: relative;
        z-index: 2;

        margin: .2em 0 0;
        &-activo {
            margin: 0 0 1em;
        }

        @include media(){
            width: 80%;
        }
    }
    &__input {
        width: 100%;
        background-color: #fff;

        border: 2.5px solid transparent;
        border-radius: .3em;

        padding: .8em;

        &-activo {
            border-color: $Red;
        }
    }
    &__alert {
        color: $Red;
        font-style: italic;
        font-size: .8em;

        display: none;
        opacity: 0;

        position: absolute;
        
        &-activo {
            display: block;
            opacity: .9;
        }
        
        @include media(){
            font-size: .9em;
            
            &-activo {
                top: 110%;
            }
        }
    }
    &__button {
        position: relative;
        z-index: 2;

        text-align: center;
        color: #fff;
        padding: .8em 0;

        @include media(){
            width: 15%;
            height: 90%;
            padding: 1em;
        }
    }
    .btn {
        border-radius: .3em;
    }
}